

  <nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
      <li><a class='nav-link' routerLink='/products'>Product List</a></li>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>




<div>




</div>



<div>
  <p><b>Interpolation :</b> brings values from the class to the template . the sintax is called Template Interpolation.
  </p>
  <p>Examples: </p>
  <br>
  <span>{{ pageTitle }} app is running!</span>
  <br>
  <span>{{'title is : '+ pageTitle}}</span>
  <hr>
  <!-- <pm-product-list></pm-product-list> -->
</div>
